# Server Configuration
PORT=8080
HOST=0.0.0.0
NODE_ENV=development

# One of error,warn,info,debug. Default: info
LOG_LEVEL=debug

# The base URL of this server. (No trailing slashes)
# During development it would be http://HOST:PORT
# When deploying, it would be your domain like https://api.meetingbaas.com
# Default: http://localhost:3001
API_SERVER_BASEURL=http://localhost:3001

# The secret that is passed to the API server which the API server can use to authenticate the requests from the bot
# Generate using "openssl rand -hex 32"
# REQUIRED
BOT_PROCESS_API_SECRET=

# Whether the bot process is running without a server
# Default: false
SERVERLESS=false

# Configure the path to chrome executable
# Default: /usr/bin/google-chrome
CHROME_PATH=

## S3 Bucket Names
# Logs Bucket. Default name: meeting-baas-logs
AWS_S3_LOGS_BUCKET=
# Artifacts Bucket to store MP4, FLAC, Transcription. Default name: meeting-baas-artifacts
AWS_S3_ARTIFACTS_BUCKET=
# Audio chunks Bucket to store audio chunks. Default name: Default name: meeting-baas-audio-chunks
AWS_S3_AUDIO_CHUNKS_BUCKET=

## Media device name overrides
# Display device. Default: ":99"
DISPLAY=
# Pulse audio Virtual speaker monitor. Default Name: virtual_speaker.monitor
VIRTUAL_SPEAKER_MONITOR=
# Pulse audio virtual mic. Default Name: virtual_mic
VIRTUAL_MIC=
# Pulse audio Virtual speaker. Default: virtual_speaker
VIRTUAL_SPEAKER=
# Video device name from v4l2loopback. Default: /dev/video10
VIDEO_DEVICE=

# EFS Mount Point (for production)
# If upload to S3 fails, files are written to the EFS, ensuring files can be recovered
EFS_MOUNT_POINT=/mnt/efs
